{%- doc -%}
Виводить список мегаменю та опціональні посилання меню «більше».  
Якщо присутні посилання «більше», також відображається дубльований екземпляр кожного підменю.

@param {object} [section] – об’єкт секції  
@param {linklist} [parent_link] – список посилань для відображення  
@param {string} [id] – унікальний ID, який призначається елементу ul у розмітці  
@param {string} [menu_content_type] – тип контенту для відображення, варіанти: ['featured_products', 'featured_collections', 'collection_images', 'text'] (за замовчуванням: 'text')  
@param {number} [content_aspect_ratio] – співвідношення сторін для відображення контенту, якщо застосовується  
@param {number} [image_border_radius] – радіус закруглення країв для зображень контенту

{%- enddoc -%}

<div class="mega-menu section section--full-width-margin section--{{ section.settings.section_width }}">
  <div
    class="mega-menu__grid"
    data-menu-grid-id="{{ id }}"
  >
    {% render 'mega-menu-list',
      parent_link: parent_link,
      id: id,
      grid_columns_count: 6,
      grid_columns_count_tablet: 4,
      grid_columns_count_collection_images: 8,
      menu_content_type: menu_content_type,
      content_aspect_ratio: content_aspect_ratio,
      image_border_radius: image_border_radius
    %}
  </div>
</div>
