{%- doc -%}
Виводить посилання «перейти до контенту», видиме лише при фокусі.  
Батьківський елемент повинен мати `position: relative` для коректного позиціонування.

@param {string} href – URL для переходу, зазвичай це ідентифікатор, наприклад, "#MainContent".  
@param {string} text – Текст для відображення у вигляді ключа перекладу з локалізованого файлу.


  @example
  {% render 'skip-to-content-link', href: '#MainContent', text: 'Skip to main content' %}
{%- enddoc -%}
<a
  class="skip-to-content-link button-secondary"
  href="{{ href }}"
>
  {{ text | t }}
</a>
